

.card{
  width: 18rem;
  background-color: rgb(18, 223, 250);
}

.card-img-top{
  width: 250px;
  height: 150px;
}
.title{
 position: relative;
 padding-top: 20px;
 text-align:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
